body,
        html {
            margin: 0;
            height: 100%;       
        }
        body{
            background-color: #F4F5ED;
        }
        a{
            color :black;
            text-decoration: none;
        }
        #nav li{
            border-bottom: 1px solid #555;
        }
        #section{
            padding-left: 10px;
            padding-right: 10px;
        }
        header{
            text-align: center;
            font-size: 30px;
        }
       
@media screen and (max-width: 200px) {
    #container {
        display: block;
    }
}
